/* PRODUK TAMPIL */
  .produk-tampil-container {
    background-color: var(--white-brownish);
    max-width: 100%;
    max-height: 100%;
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .section-title {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline 3px;
    text-underline-offset: 6px;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  .card-container {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 27px;
    overflow-y: scroll;
  }

  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;

    background-color: white;
    border-radius: 32px;
    padding: 30px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.289);
  }

  .card-left-section {
    width: 20%;
    display: flex;
    align-items: center;
    justify-self: center;
  }

  .card-left-section img {
    width: 100%;
    object-fit: contain;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.267);
  }

  .card-right-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }

  .card-right-section .nama-produk {
    color: var(--light-brown);
    font-weight: 600;
    font-size: 32px;
  }

  .card-right-section hr {
    width: 100%;
    border: solid rgb(119, 49, 0);
    border-radius: 4px;
  }

  .card-right-section .card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-buttons .button-ubah-hapus {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 700;
    font-size: 19px;
    color: white;
    margin-left: 20px;
  }

  .produk-bottom-section {
    display: flex;
    justify-content: end;
    width: auto;
  }
  .produk-bottom-section button {
    background-color: var(--primary-color);
    padding: 8px 80px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 19px;
    color: white;
  }

  /* Track */
  .custom-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light grey background */
    border-radius: 10px;
  }

  /* Handle (Thumb) */
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #888; /* Dark grey handle */
    border-radius: 10px;
  }

  /* Handle hover */
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker grey when hovered */
  }

  /* Scrollbar */
  .custom-scroll::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

/* PRODUK TAMPIL */


/* PRODUK CRUD CONTAINER, INPUT STYLES */

  .produk-crud-container {
    width: 100%;
    min-height: 100vh; 
    background-color: var(--light-brown);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow-y: auto; 
    padding-top: 100px;
  }

  .produk-crud-wrapper {
    background-color: white;
    max-width: 70%;
    height: 100%;
    border-radius: 34px 34px 0 0;
    padding: 40px;
    overflow: hidden;
  }
  
  .form-container {
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }

  .form-wrapper-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  .form-container .produk-inputs-container {
    width: 60%;
  }

  .form-container .form-button {
    align-self: flex-start;
    width: auto;
    max-width: 100%;
  }

  .form-container label {
    font-size: 21px;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 15px; 
    margin-bottom: 8px;
  }

  .form-container input, 
  .form-container select {
    width: 100%;
    min-width: 300px;
    border: 2px solid var(--light-brown);
    border-radius: 15px; 

    padding: 12px 12px 12px 21px;
    margin-bottom: 20px;
    font-size: 16px; 

    color: var(--dark-gray); 
    background-color: var(--light-gray); 
  }

  .form-container input:focus {
    border-color: var(--dark-brown);
    outline: none; 
    box-shadow: 0 0 5px var(--dark-brown); 
  }

  .form-container input:disabled {
    background-color: var(--light-brown);
    color: var(--gray);
    cursor: not-allowed;
  }

  .form-container .form-select {
    border: 2px solid var(--light-brown);
  }
/* PRODUK CRUD CONTAINER, INPUT STYLES */


/* PRODUK TAMBAH */
  .custom-file-upload input[type="file"] {
    display: none;
  }

  .custom-file-upload .btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;

    border: 2px solid var(--light-brown);  
    border-radius: 15px;

    color: rgb(128, 128, 128);
    font-size: 13px;
    text-align: center;
    padding: 10px 20px;

    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .custom-file-upload .btn-custom:hover {
    background-color: rgba(118, 118, 118, 0.043)
  }

/* PRODUK TAMBAH */


/* PRODUK UBAH */
  .produk-foto {
    display: flex;
    flex-direction: column;
  }

  .produk-foto .produk-ubah-foto-border {
    width: 300px;
    height: auto;
    border: 2px solid var(--light-brown);
    border-radius: 14px;
    padding: 15px;
    margin-bottom: 15px;
  }

  .produk-foto .produk-ubah-foto-border img {
    width: 100%;
    box-shadow: 4px 4px 12px rgba(83, 83, 83, 0.117);
  }

  .custom-file-edit input[type="file"] {
    display: none;
  }

  .custom-file-edit .btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--light-brown);  
    border-radius: 15px;

    color: rgb(128, 128, 128);
    font-size: 13px;
    text-align: center;
    padding: 10px 20px;

    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .custom-file-edit .btn-custom:hover {
    background-color: var(--light-brown);
    color: white;
  }


/* PRODUK UBAH */

