/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
  --primary-color: #916B55;
  --secondary-color: #FFBF42;
  --white-brownish: #FFF5EF;
  --light-brown: #C2977E;
  --footer-top: #916B55;
  --footer-bottom: #784C33;
  

  /* shadow */
  --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
  --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
  /* shadow */
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

li { list-style: none; }


button,
input {
  background: none;
  border: none;
  font: inherit;
}

button:focus{outline: none; }

input { width: 100%; }

ion-icon { pointer-events: none; }


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins';
}

body {
  font-family: 'Poppins';
  margin-top: 60px; /* Same as the navbar's height */
  overflow-x: hidden;

}



h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
ul{
  margin: 0;
  font-family: 'Poppins';
  text-decoration: none;
}


.btn-bg-yellow {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  text-decoration: none;
  border-radius: 40px;
  font-weight: 500;
  color: white;
  width: 300px;
}
