.navbar {
  background-color: var(--primary-color);
  height: 60px; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar-nav a {
  color: white;
  letter-spacing: 0.2px;
  font-weight: 500;
  margin: 0;
  transition: color 0.3s ease;
}

.navbar-nav a:hover {
  color: var(--secondary-color);
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--secondary-color);
  font-weight: 700;
  letter-spacing: 0.4px;
  font-family: 'Montserrat';
}

.navbar-brand span {
  transition: color 0.3s ease;

}

.navbar-brand:hover span {
  color: white
}

