.produk {
  background-color: var(--primary-color);
  height: auto;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.produk .section-title-landing {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

/* CUSTOM SCROLLBAR */
  .custom-scroll::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ffc04252;
  }
/* CUSTOM SCROLLBAR */


.produk-grid-container {
  max-height: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
  gap: 10px;
  justify-content: start;
  justify-items: start; 
  align-items: center;
  overflow-y: auto;
  padding: 0 20px 0 0;
}

.produk-img-container {
  width: 100%;
  height: 390px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #FFF5EF;

}

.produk-img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.produk-img-container .produk-name {
  height: 20%;
  width: 100%;

  font-size: 22px;
  font-weight: 600;
  color: white;
  text-wrap: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: #84848480; 
}


/* Meadia Queries */
  /* PHONES */
  @media screen and (min-width: 370px){
    .produk-img-container {
      height: 300px;
    }    
  }
  @media screen and (min-width: 412px){
    .produk-img-container {
      height: 340px;
    }    
  }

  /* IDK */
  @media screen and (min-width: 576px ) {
    .produk-img-container {
      height: 320px;
    }    
  }

  /* TABLET */
  @media screen and (min-width: 768px ) {
    .produk-img-container {
      height: 370px;
    }    
  }

  /* LAPTOPS */

  @media screen and (min-width: 1000px ) {
    .produk-img-container {
      height: 400px;
    }    
  }

  @media screen and (min-width: 1204px ) {
    .produk-img-container {
      height: 340px;
    }    
  }

  /* BIG SCREEN */
  @media screen and (min-width: 1400px ) {
    .produk-img-container {
      height: 400px;
    }    
  }